{{ define "header" }}
{{ partial "header.html" . }}

{{ end }}

{{ define "main" }}


<main class="bg-red-300" data-barba="wrapper">
	<article data-barba="container">
		<section class="w-full min-h-screen flex flex-wrap">
			<div class="w-full order-2 lg:order-1 lg:w-5/12 bg-beige flex items-end">
				<img class="w-full" src="{{ .Site.BaseURL }}/images/hp-header-hand-2.svg">
				<!-- TODO: Remove pixel -->
			</div>

			<div class="w-full order-1 lg:order-2 lg:w-7/12 relative flex items-center">
				<div class="absolute right-0 top-0">
					{{ partial "doctolib.html" . }}
				</div>

				<div class="flex flex-col justify-center px-16  py-16 lg:py-8">
					<h1 class="h1-hp mb-24 xl:w-2/3"><span class="text-dark">Emma Hervé</span><br>
						vous reçoit dans son cabinet d’ostéopathie à Paris 15.</h1>

					<div class="hp-questions">
						<a href="#" class="h4 border-b-2 pb-1 border-pink-700 mb-6">
							Comment se déroule une consultation ?
						</a>
						<br>
						<a href="#" class="h4 border-b-2 pb-1 border-pink-700 mb-6">
							Le parcours de mon ostéopathe
						</a>
						<br>
						<a href="#osteopathe" class="mt-6">
							<svg width="23" height="54" viewBox="0 0 23 54" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M10.578 53.2788C11.1638 53.8646 12.1135 53.8646 12.6993 53.2788L22.2453 43.7329C22.8311 43.1471 22.8311 42.1974 22.2453 41.6116C21.6595 41.0258 20.7097 41.0258 20.124 41.6116L11.6387 50.0968L3.15339 41.6116C2.5676 41.0258 1.61785 41.0258 1.03207 41.6116C0.446282 42.1974 0.446282 43.1471 1.03207 43.7329L10.578 53.2788ZM10.1387 0.853149L10.1387 52.2182L13.1387 52.2182L13.1387 0.853149L10.1387 0.853149Z"
									fill="#FFA788" />
							</svg>
						</a>
					</div>
				</div>


			</div>


		</section>
	</article>
</main>

{{end}}
