{{ define "header" }}
{{ .Scratch.Set "headerClass" "md:bg-white scroll-down" }}
{{ partialCached "header.html" . }}
{{ end }} {{ define "main" }}

<main class="bg-beige" data-barba="wrapper">
	<article data-barba="container">
		<section class="hp-hero w-full min-h-screen flex flex-wrap">
			<div
				class="w-full order-2 lg:order-1 lg:w-5/12 bg-beige flex items-end bg-hand bg-center lg:bg-bottom bg-no-repeat bg-cover">
			</div>

			<div class="bg-white w-full order-1 lg:order-2 lg:w-7/12 relative flex items-center">
				<div class="hidden md:block absolute right-0 top-0">
					{{ partial "doctolib.html" . }}
				</div>

				<div class="flex flex-col justify-center pt-32 p-8 md:pt-32 md:p-16">
					<div class="slide__reveal mb-12 md:mb-16">
						<h1 class="h1-hp xl:w-2/3 mb-0">
							{{.Params.h1 | markdownify}}
						</h1>
					</div>

					<ul class="hp-questions">
						{{ $navQuestions := .Params.heroNav }}
						{{ range $navQuestions  }}
						<li class="no-style mb-6 leading-10">
							<a href="#{{.id}}" class="inline h4">
								{{.text}}
							</a>
						</li>
						{{ end }}
						<li class="no-style mt-12 db_y-translate">
							<a href="#osteopathe" class="inline">
								<svg width="23" height="54" viewBox="0 0 23 54" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M10.578 53.2788C11.1638 53.8646 12.1135 53.8646 12.6993 53.2788L22.2453 43.7329C22.8311 43.1471 22.8311 42.1974 22.2453 41.6116C21.6595 41.0258 20.7097 41.0258 20.124 41.6116L11.6387 50.0968L3.15339 41.6116C2.5676 41.0258 1.61785 41.0258 1.03207 41.6116C0.446282 42.1974 0.446282 43.1471 1.03207 43.7329L10.578 53.2788ZM10.1387 0.853149L10.1387 52.2182L13.1387 52.2182L13.1387 0.853149L10.1387 0.853149Z"
										fill="#FFA788" />
								</svg>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</section>

		{{ with .Params.sectionOsteopathe }}

		<section id="osteopathe" class="w-full bg-beige min-h-screen flex items-center ">
			<div class="container flex flex-wrap py-8 md:py-16">
				<div class="w-full lg:w-1/2 order-2 lg:order-1 flex justify-center items-center py-8">
					<img class="max-img-width  w-10/12 md:w-7/12 lg:w-1/2" src="{{ .Site.BaseURL }}/images/hp-bench.svg"
						alt="banc d'ostéopathe" />
				</div>

				<div class="w-full md:w-10/12 mx-auto order-1 lg:order-2 lg:w-1/2 flex flex-col justify-center py-8">
					<h2 class="h2">
						{{.h2}}
					</h2>
					<p class="p-big">
						{{.p|markdownify}}
					</p>
					<a class="btn mt-4" href="{{ .Site.BaseURL }}{{.link.url}}">{{.link.text}}</a>
				</div>
			</div>
		</section>

		{{ end }}

		{{ with .Params.sectionEmma }}
		<section id="votre-osteopathe" class="w-full bg-white min-h-screen flex items-center ">
			<div class="container flex flex-wrap py-8 md:py-16">
				<div class="lg:pl-16 w-full md:w-10/12 mx-auto order-2 lg:order-1 lg:w-7/12 flex flex-col justify-center py-8">
					<h2 class="h2">
						{{.h2}}
					</h2>
					<p class="p-big">
						{{.p|markdownify}}
					</p>
					<a class="btn mt-4" href="{{ .Site.BaseURL }}{{.link.url}}">{{.link.text}}</a>
				</div>

				<div class="w-full lg:w-5/12 order-1 lg:order-2 flex justify-center items-center py-8">
					<img class="yellow-box-shadow max-img-height w-10/12 md:w-7/12 lg:w-1/2 w-32"
						src="{{ .Site.BaseURL }}{{.img.url}}" alt="{{.img.alt}}" />
				</div>
			</div>
		</section>
		{{ end }}

		{{ with .Params.sectionContact }}

		<section id="contact-infos" class="w-full bg-beige min-h-screen flex items-center ">
			<div class="container flex flex-wrap py-8 md:py-16">
				<div class="w-full lg:w-1/2 order-2 lg:order-1 flex justify-center items-center py-8">
					<img class="max-img-width w-10/12 md:w-7/12 lg:w-1/2" src="{{ .Site.BaseURL }}{{.img.url}}"
						alt="{{.img.alt}}" />
				</div>

				<div class="w-full md:w-10/12 mx-auto order-1 lg:order-2 lg:w-1/2 flex flex-col justify-center py-8">
					<h2 class="h2">{{.h2}}</h2>
					<p class="p-big">{{.p|markdownify}}</p>
					<a class="btn mt-4" href="{{ .Site.BaseURL }}{{.link.url}}">{{.link.text}}</a>
				</div>
			</div>
		</section>
		{{ end }}

		{{ partial "magazine.html" . }}
	</article>
</main>

{{end}}
