.btn {
  @include Jost();
  @include Medium();
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  max-width: 250px;
  background-color: transparent;
  color: theme('colors.dark');
  border: 1px solid rgba(246, 126, 87, 0.4);
  line-height: 1.5;
  font-size: 0.875em;

  @apply px-6 py-4;
}

.btn-doctolib {
  background-color: theme('colors.blue.500');
  display: block;
  color: theme('colors.white');
  border: none;

  &:hover {
    @apply bg-blue-300;
  }
}

.btn-full {
  height: 90px;
  max-width: 100%;
  @apply w-full flex justify-center items-center;
}

.tiers-link:nth-child(n+1) {
  .btn-full {
    @apply bg-blue-500;
  }
}

.tiers-link:nth-child(n+2) {
  .btn-full {
    @apply bg-pink-500;
  }
}

.tiers-link:nth-child(n+3) {
  .btn-full {
    @apply bg-pink-700;
  }
}