.btn {
  @include Jost();
  @include Medium();
  @include Ease();
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  max-width: 250px;
  background-color: transparent;
  color: theme('colors.dark');
  border: 1px solid rgba(246, 126, 87, 0.4);
  line-height: 1.5;
  font-size: 0.875em;

  @apply px-6 py-4;

  &:hover {
    @apply bg-pink-700 text-white border-transparent;
  }
}

.btn-doctolib {
  background-color: theme('colors.blue.500');
  display: block;
  color: theme('colors.white');
  border: none;

  &:hover {
    @apply bg-pink-700;
  }
}

.btn-full {
  height: 80px;
  border-width: 2px;
  border-style: solid;
  @apply w-full flex justify-center items-center;

  &:hover {
    background-color: transparent !important;
    // color: theme('colors.dark') !important;
  }
}

.tiers-link:nth-child(n+1) {
  .btn-full {
    border-color: theme('colors.blue.500') !important;
    @apply bg-blue-500;

    &:hover {
      color: theme('colors.blue.500') !important;
    }
  }
}

.tiers-link:nth-child(n+2) {
  .btn-full {
    @apply bg-pink-500;
    border-color: theme('colors.pink.500') !important;

    &:hover {
      color: theme('colors.pink.500') !important;
    }
  }
}

.tiers-link:nth-child(n+3) {
  .btn-full {
    @apply bg-pink-700;
    border-color: theme('colors.pink.700') !important;

    &:hover {
      color: theme('colors.pink.700') !important;
    }
  }
}

@screen lg {
  .btn-full {
    max-width: 100%;
  }
}