// UL list

ol,
ul {
  padding-left: theme('padding.4');
  @include Medium();
  @apply text-dark mb-4;
}


ol {
  list-style: none;
  counter-reset: my-ol-counter;
  padding-left: 0;

  li {
    counter-increment: my-ol-counter;
  }

  li::before {
    content: counter(my-ol-counter) ". ";
    padding-right: theme('padding.4');
    width: 1.5rem;
    @apply inline-block text-pink-700;
  }
}

ul {
  list-style: none;
  counter-reset: my-ul-counter;
  padding-left: 0;

  li {
    counter-increment: my-ul-counter;
  }

  li::before {
    content: "– ";
    padding-right: theme('padding.4');
    width: 1.5rem;
    @apply inline-block text-pink-700;
  }
}