{{if .Site.Params.notice}}
{{if .IsHome}}
<div class="ease order-2 md:order-1 notice bg-dark fixed bottom-0 md:bottom-auto md:top-0 left-0 w-full z-50">
  <div class="container text-white flex justify-between">
    <div class="notice--content py-3">
      {{.Site.Params.notice | markdownify}}
    </div>

    <button class="notice--close px-4">
      <svg width="23" height="22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path stroke="#fff" d="M1.354.646l21 21M.646 21.646l21-21" /></svg></button>
  </div>
</div>
{{end}}
{{end}}

<header class="w-full fixed z-50 {{ .Scratch.Get "headerClass" }} flex flex-col">
  <nav class="nav--desktop hidden md:flex md:flex-wrap lg:flex-no-wrap justify-end lg:justify-between w-full">
    <div class="flex items-center md:w-full lg:w-auto">
      <a class="mr-10 dim" href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}images/nav-main-logo.svg"></a>

      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <a class="nav dim mr-8 {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}"
        href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      {{ end }}

    </div>

    {{ partial "doctolib.html" . }}
  </nav>

  <nav class="nav--mobile pointer-events-none fixed md:hidden w-full order-1 md:order-2 z-50 flex flex-col">
    <div class="nav--mobile__header flex z-50 pointer-events-auto">
      <button class="menu--toggle bg-pink-300 p-6 flex items-center justify-center bg-no-repeat bg-center">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g class="burger-top">
            <rect x="-14" y="-2" width="28" height="4" fill="#FFA788"></rect>
          </g>
          <g class="burger-middle">
            <rect x="-14" y="-2" width="28" height="4" fill="#FFA788"></rect>
          </g>
          <g class="burger-bottom">
            <rect x="-14" y="-2" width="28" height="4" fill="#FFA788"></rect>
          </g>
        </svg>
      </button>
      <a class="lg:hidden footer-btn items-center btn btn-doctolib w-full justify-center" target="_blank"
        rel="noopener noreferrer" href="{{ .Site.Params.doctoUrl }}">{{ .Site.Params.doctotxt }}</a>
    </div>
    <div class="nav--mobile__reveal flex flex-1 flex-col justify-between bg-white">
      <div class="nav--mobile__content bg-white z-50 flex flex-col">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}

        <a class="pl-16 nav dim py-8 border-b border-pink-500 {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}"
          href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      </div>
      <div class="nav--mobile__footer flex items-center bg-beige">
        <a class="mr-2 dim" href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}images/nav-main-logo.svg"></a>
        <address class="mr-2 not-italic">
          <a class="p border-b border-blue-300 inline dim" target="_blank" rel="noopener noreferrer"
            href="{{ .Site.Params.mapsUrl }}">{{ .Site.Params.address }}</a>
          <br>
          <a class="p border-b border-blue-300 inline dim" href="tel:{{ .Site.Params.tel }}">{{ .Site.Params.tel }}</a>
        </address>

      </div>
    </div>


  </nav>
</header>
