<header class="w-full fixed z-50 {{ .Scratch.Get "headerClass" }}">
  <nav class="flex justify-between w-full">
    <div class="flex items-center">
      <a class="mr-10 dim" href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}images/nav-main-logo.svg"></a>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}

      <a class="nav dim mr-10 {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}"
        href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
    </div>

    {{ partial "doctolib.html" . }}
  </nav>
</header>
