<section class="shape-points bg-no-repeat bg-cover pt-24 lg:pt-48"
  style="background-image:url('{{ .Site.BaseURL }}images/osteopathie-shape-1.svg')">
  <div class="container flex flex-wrap w-full md:w-10/12">
    <div class="w-full lg:w-5/12 pb-8 lg:pb-0">
      <h5 class="cta mb-6">{{ .Params.shapePoints.sousTitre }}</h5>
      <h2 class="h2">{{ .Params.shapePoints.titre }}</h2>
    </div>

    <div class="w-full lg:w-7/12">
      <ul>
        {{ $listItem := .Params.shapePoints.point }}
        {{ range $listItem }}
        <li class="colored-circle-element flex mb-8 md:mb-12">
          <div class="w-1/6">
            <span class="colored-circle"></span>
          </div>

          <div class="list-contents w-5/6 pl-4 md:pl-0">
            <h4 class="h4 mb-6">{{ .titre }}</h4>
            <p class="p">{{ .content | markdownify }}</p>
          </div>
        </li>

        {{ end }}
      </ul>
    </div>
  </div>
</section>
