<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Store",
    "image": [
      "https://example.com/photos/1x1/photo.jpg",
      "https://example.com/photos/4x3/photo.jpg",
      "https://example.com/photos/16x9/photo.jpg"
    ],
    "@id": "http://emma-herve.netlify.app/",
    "name": "Emma Hervé - Ostéopathe Paris 15",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "12 Rue Ferdinand Fabre",
      "addressLocality": "Paris",
      "addressRegion": "Ile de France",
      "postalCode": "75015",
      "addressCountry": "FR"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": 48.838483,
      "longitude": 2.2945037
    },
    "url": "https://emma-herve.netlify.app/",
    "telephone": "+33630874195",
    "department": [{
      "@type": "Ostéopathe",
      "image": [
        "https://example.com/photos/1x1/photo.jpg",
        "https://example.com/photos/4x3/photo.jpg",
        "https://example.com/photos/16x9/photo.jpg"
      ],
      "name": "Dave's Pharmacy",
      "telephone": "+14088719385",
    }]
  }

</script>
