<!-- TODO: Avoir les images en 1 x1, 4 x3, 16 x9  -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Store",
    "image": [
      "https://emma-herve.netlify.app/images/nav-main-logo.svg",
      "https://emma-herve.netlify.app/images/nav-main-logo.svg",
      "https://emma-herve.netlify.app/images/nav-main-logo.svg"
    ],
    "@id": "http://emma-herve.netlify.app/",
    "name": "Emma Hervé - Ostéopathe Paris 15",
    "priceRange": "$$",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "12 Rue Ferdinand Fabre",
      "addressLocality": "Paris",
      "addressRegion": "Ile de France",
      "postalCode": "75015",
      "addressCountry": "FR"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": 48.838483,
      "longitude": 2.2945037
    },
    "url": "https://emma-herve.netlify.app/",
    "telephone": "+33630874195",
    "openingHoursSpecification": [{
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Saturday"
        ],
        "opens": "08:00",
        "closes": "14:00"
      },
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Tuesday",
          "Wednesday",
          "Saturday"
        ],
        "opens": "15:00",
        "closes": "20:00"
      },
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Monday",
          "Thursday"
        ],
        "opens": "15:00",
        "closes": "21:00"
      }
    ],
    "logo": "https://emma-herve.netlify.app/images/nav-main-logo.svg",
    "email": "emmaherve.osteo@gmail.com"
  }

</script>
