body,
.page-hero-nav,
.nav--desktop {
  transition: background-color 1s ease;
}

.spin {
  animation: spin 3s linear infinite;
}

.spin--long {

  &:nth-child(even) {
    animation: spin 120s linear infinite;
  }

  &:nth-child(odd) {
    animation: spin 120s linear reverse infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.dim {
  opacity: 1;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.65;
  }
}

.dim-inv {
  opacity: 0.5;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }
}

@keyframes y-translation {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(0%);
  }
}

.db_y-translate {
  animation: y-translation 2s infinite;
}

@keyframes boxMoving {

  0%,
  100% {
    box-shadow: 2em -1.5em theme('colors.yellow.300'), 2em 1.5em theme('colors.yellow.300');
  }

  50% {
    box-shadow: 1em -.8em theme('colors.yellow.300'), 1em .8em theme('colors.yellow.300');
  }
}

.yellow-box-shadow {
  box-shadow: 2em -1.5em theme('colors.yellow.300'), 2em 1.5em theme('colors.yellow.300');
  transition: box-shadow 1s ease;
  animation: boxMoving 4.5s ease-in-out infinite alternate;
}

// H1 appear at intersection observer

.slide__reveal {
  overflow: hidden;

  h1,
  h2,
  a {
    opacity: 0;
    transform: translateY(100%);
    @include tran_simple(0.75s);
  }

  &.in-view {

    h1,
    h2,
    a {
      opacity: 1;
      transform: translateY(0);
    }
  }
}