@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-400-Book.woff2') format('woff2');
  src: url('../fonts/Jost-400-Book.woff') format('woff'),
    url('../fonts/Jost-400-Book.otf') format('opentype'),
    url('../fonts/Jost-400-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-500-Medium.woff2') format('woff2');
  src: url('../fonts/Jost-500-Medium.woff') format('woff'),
    url('../fonts/Jost-500-Medium.otf') format('opentype'),
    url('../fonts/Jost-500-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Albra';
  src: url('../fonts/Albra-Regular.woff2') format('woff2');
  src: url('../fonts/Albra-Regular.woff') format('woff'),
    url('../fonts/Albra-Regular.otf') format('opentype'),
    url('../fonts/Albra-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Albra';
  src: url('../fonts/Albra-Medium.woff2') format('woff2');
  src: url('../fonts/Albra-Medium.woff') format('woff'),
    url('../fonts/Albra-Medium.otf') format('opentype'),
    url('../fonts/Albra-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}