// .link {
//   font-family: 'Rubik';
//   font-style: normal;
//   font-weight: normal;
//   font-size: 14px;
//   line-height: 1.6;
//   /* or 22px */
//   text-align: center;
//   letter-spacing: 0.1em;
//   text-transform: uppercase;
// }

a.inline-link {
  @include Jost();
  @include Normal();
  @apply text-pink-700 border-b border-pink-700 pb-1;
}

a.infos-no-underline-link {
  font-family: Syne;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.47;
  text-transform: none;
}