p,
.p {
  @include Jost();
  @include Normal();
  font-size: 1em;
  line-height: 1.75;
  color: theme('colors.dark');
}

.p-bold,
.intro-p {
  @include Medium();
}

.p-big {
  @include Albra();
  @include Normal();
  font-size: 1.125em;
  line-height: 1.5;
  letter-spacing: 0.02em;
  @apply mb-8;
}

.nav,
.cta {
  @include Jost();
  @include Medium();
  font-size: 0.875em;
  line-height: 1.2;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  // color: theme('colors.dark');
}

.intro-header {
  @include Albra();
  @include Medium();
  font-size: 1.8125;
  line-height: 1.38;
  letter-spacing: 0.02em;
  color: theme('colors.dark');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    font-family: inherit;
    font-size: inherit;
    text-transform: none;
    letter-spacing: normal;
  }
}

.h1-hp {
  @include Albra();
  @include Normal();
  font-size: 3.125em;
  line-height: 1.15;
  color: theme('colors.pink.700');
}

.h1-page {
  @include Jost();
  @include Medium();
  font-size: 3.75em;
  line-height: 1.15;
  color: theme('colors.pink.700');
}

.h2 {
  @include Jost();
  @include Medium();
  font-size: 2.875em;
  line-height: 1.2;
  color: theme('colors.pink.700');
  @apply mb-8;
}

.h3 {
  @include Jost();
  @include Medium();
  font-size: 1.75em;
  line-height: 1.35;
  color: theme('colors.dark');
}

.h4 {
  @include Jost();
  @include Medium();
  font-size: 1.375em;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: theme('colors.dark');
}

.h5 {
  @include Jost();
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: theme('colors.dark');
}

a {
  font-size: 1em;
  line-height: 1.22;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  @include tran_simple(0.3s);

  &.no-underline {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}