p,
.p {
  @include Jost();
  @include Normal();
  font-size: 1em;
  line-height: 1.75;
  color: theme('colors.dark');
  @apply mb-6;
}

.p-bold,
.intro-p {
  @include Medium();
}

.p-big {
  @include Albra();
  @include Normal();
  font-size: 1.125em;
  line-height: 1.5;
  letter-spacing: 0.02em;
  @apply mb-8;
}

.mb-16-imp {
  margin-bottom: 4rem !important;
}

.nav,
.cta {
  @include Jost();
  @include Medium();
  font-size: 0.875em;
  line-height: 1.5;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  // color: theme('colors.dark');
}

.intro-header,
blockquote {
  @include Albra();
  @include Medium();
  font-size: 1.8125em;
  line-height: 1.38;
  letter-spacing: 0.02em;
  color: theme('colors.dark');
}

blockquote {
  @apply my-8;
}

hr {
  @apply border-t border-blue-300 mb-8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  a {
    font-family: inherit;
    font-size: inherit;
    text-transform: none;
    letter-spacing: normal;
    @include Dim();
    @apply text-pink-700;
  }
}

.h1-hp {
  @include Albra();
  @include Normal();
  font-size: 3.125em;
  line-height: 1.15;
  color: theme('colors.pink.700');
}

h1,
.h1-page {
  @include Jost();
  @include Medium();
  font-size: 3.75em;
  line-height: 1.15;
  color: theme('colors.pink.700');
  @apply mb-12;
}

h2,
.h2 {
  @include Jost();
  @include Medium();
  font-size: 2.875em;
  line-height: 1.2;
  color: theme('colors.pink.700');
  @apply mb-8;
}

h3,
.h3 {
  @include Jost();
  @include Medium();
  font-size: 1.75em;
  line-height: 1.35;
  color: theme('colors.dark');
  @apply mb-8;
}

h4,
.h4 {
  @include Jost();
  @include Medium();
  font-size: 1.375em;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: theme('colors.dark');
  @apply mb-6;
}

h5,
.h5 {
  @include Jost();
  @include Medium();
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: theme('colors.dark');
  @apply mb-4;
}

a {
  font-size: 1em;
  line-height: 1.22;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  @include tran_simple(0.3s);

  &.no-underline {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &.h1,
  &.h2,
  &.h3,
  &.h4,
  &.h5,
  &.h6 {
    line-height: 1.5;
  }
}