.colored-circle {
  animation: borderRadiusChange 5s infinite cubic-bezier(.77, 0, .18, 1);
  @apply block h-12 w-12 rounded-full;
}

@keyframes borderRadiusChange {

  0%,
  100% {
    border-radius: 50%;
  }

  50% {
    border-radius: 35%;
  }
}

// .pour-qui-block-image:nth-child(n+1),
// .colored-circle-element:nth-child(n+1) {

//   .colored-circle,
//   .colored-circle-big {
//     @apply bg-blue-300;
//   }
// }

.hp-questions li a {
  position: relative;

  &::after {
    background-color: theme('colors.pink.700');
    display: inline-block;
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    margin-bottom: -6px;
    width: 87%;
    height: 2px;
    @include Ease();
  }

  &:hover::after {
    width: 98%;
  }
}

.colored-circle-element:nth-child(n+1) .colored-circle,
.pour-qui-block-image:nth-child(n+1) .colored-circle-big {
  @apply bg-blue-300;
}

.colored-circle-element:nth-child(2n+2) .colored-circle,
.pour-qui-block-image:nth-child(2n+2) .colored-circle-big {
  @apply bg-pink-300;
}

.colored-circle-element:nth-child(3n+3) .colored-circle,
.pour-qui-block-image:nth-child(3n+3) .colored-circle-big {
  @apply bg-yellow-500;
}


.contact-shape-points {
  .colored-circle-element:nth-child(n+1) .colored-circle {
    @apply bg-blue-300;
  }

  .colored-circle-element:nth-child(n+2) .colored-circle {
    @apply bg-pink-300;
  }

  .colored-circle-element:nth-child(n+4) .colored-circle {
    @apply bg-yellow-300;
  }

  .colored-circle-element:nth-child(n+5) .colored-circle {
    @apply bg-pink-700;
  }

  .colored-circle-element:nth-child(n+6) .colored-circle {
    @apply bg-yellow-500;
  }
}

.colored-circle-big {
  animation: borderRadiusChange 5s infinite cubic-bezier(.77, 0, .18, 1);
  @apply colored-circle h-32 w-32;
}


.shape-points {
  background-size: contain, 40%;
}

.shape-points-reverse {
  background-size: contain, 40%;
  background-position: 100% 0;
}

.pour-qui-block-image:nth-child(n) {
  .block-image {
    order: 1;
  }

  .text-block {
    order: 2;
  }
}

.pour-qui-block-image:nth-child(2n) {
  .block-image {
    order: 2;
  }

  .text-block {
    order: 1;
  }
}

.post-content {
  img {
    max-height: 50vh;
    max-width: 70vw;
    width: auto;
    @apply mx-auto my-8;
  }
}

@screen md {
  .post-content {
    img {
      max-height: 50vh;
      max-width: 40vw;
      width: auto;
      @apply mx-auto my-8;
    }
  }
}

// Ostéopathe page

.pour-qui-block-image:nth-child(odd) {
  .block-image {
    order: 1;
  }

  .block-content {
    order: 2;
  }
}

.pour-qui-block-image:nth-child(even) {
  .block-image {
    order: 2;
  }

  .block-content {
    order: 1;
  }
}

// Contact page

.contact-shapes img {
  &:nth-child(1) {
    top: 0%;
    right: 4%;
  }

  &:nth-child(2) {
    top: 8%;
    right: 0%;
  }

  &:nth-child(3) {
    top: -10%;
    right: -10%;
  }
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: auto;
  grid-auto-flow: row;
}

@screen lg {
  .contact-grid {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
  }
}

// Sticky Nav
.page-hero-nav h5 a {
  @apply ease pb-1 border-b-4 border-transparent;

  &.current,
  &:hover {
    @apply border-yellow-500;
  }
}