.colored-circle {
  @apply block h-12 w-12 rounded-full;
}

// .pour-qui-block-image:nth-child(n+1),
// .colored-circle-element:nth-child(n+1) {

//   .colored-circle,
//   .colored-circle-big {
//     @apply bg-blue-300;
//   }
// }

.colored-circle-element:nth-child(n+1) .colored-circle {
  @apply bg-blue-300;
}

.pour-qui-block-image:nth-child(n+1) .colored-circle-big {
  @apply bg-blue-300;
}


.colored-circle-element:nth-child(n+2) .colored-circle {
  @apply bg-pink-300;
}

.pour-qui-block-image:nth-child(n+2) .colored-circle-big {
  @apply bg-pink-300;
}

.colored-circle-element:nth-child(n+3) .colored-circle {
  @apply bg-yellow-500;
}

.pour-qui-block-image:nth-child(n+3) .colored-circle-big {
  @apply bg-yellow-500;
}


// .pour-qui-block-image:nth-child(n+3),
// .colored-circle-element:nth-child(n+3) {

//   .colored-circle,
//   .colored-circle-big {
//     @apply bg-yellow-500;
//   }
// }

.colored-circle-big {
  @apply colored-circle h-32 w-32;
}

.shape-points {
  background-size: 40%;
}

.shape-points-reverse {
  background-size: 40%;
  background-position: 100% 0;
}

.pour-qui-block-image:nth-child(n) {
  .block-image {
    order: 1;
  }

  .text-block {
    order: 2;
  }
}

.pour-qui-block-image:nth-child(2n) {
  .block-image {
    order: 2;
  }

  .text-block {
    order: 1;
  }
}