{{ define "meta-title" }}{{ .Title }} &ndash; {{ .Site.Title }}{{ end }}
{{ define "meta-description" }}{{ .Description }}{{ end }}

{{ define "header" }} {{ .Scratch.Set "headerClass" "bg-white"}}
{{ partial "header.html" . }} {{ end }}

{{ define "main" }}
<main data-barba="wrapper">
  <article data-barba="container">
    {{ .Scratch.Set "bgClass" "bg-white"}}
    {{ partial "page-hero-nav.html" . }}

    {{ partial "shape-points.html" . }}

    {{ $stickyNav := .Params.stickyNav }}

    <section data-background="#FFFFFF" class="shape-points-reverse bg-no-repeat bg-cover pt-0 lg:pt-48"
      style="background-image:url('{{ .Site.BaseURL }}images/osteopathie-shape-2.svg')"
      id='{{ (index $stickyNav 1).id }}'>
      <div class="container flex flex-wrap w-full md:w-10/12">
        <div class="w-full lg:w-7/12 order-2 lg:order-1">
          <div class="flex mb-12">
            <div class="hidden lg:block lg:w-1/6"></div>

            <div class="list-contents w-full lg:w-5/6">
              <h3 class="intro-header">{{ .Params.shapePointsReverse.tempsConsultation }} <span
                  class="text-pink-700">{{.Params.shapePointsReverse.prixConsultation}}</span>
              </h3>
            </div>
          </div>

          <ul>
            {{ $listItem := .Params.shapePointsReverse.point }}
            {{ range $listItem }}
            <li class="colored-circle-element flex mb-8 md:mb-12">
              <div class="w-1/6">
                <span class="colored-circle"></span>
              </div>

              <div class="list-contents w-5/6 pl-4 md:pl-0">
                <h4 class="h4 mb-6">{{ .titre }}</h4>
                <p class="p">{{ .content | markdownify }}</p>
              </div>
            </li>

            {{ end }}
          </ul>
        </div>

        <div class="w-full lg:w-5/12 order-1 lg:order-2 pl-0 lg:pl-8 lg:pl-24 pt-16 md:pt-32 pb-0 md:pb-8 lg:pb-0">
          <h5 class="cta mb-6">{{ .Params.shapePointsReverse.sousTitre}}</h5>
          <h2 class="h2">{{ .Params.shapePointsReverse.titre }}</h2>
        </div>
      </div>
    </section>

    <section class="motifs py-16 md:py-24" id="{{ (index $stickyNav 2).id }}" data-background="#FBF5F1">
      <div class="container flex flex-wrap w-full md:w-10/12">
        <div class="w-full lg:w-1/2 pr-0 md:pr-32">
          <h5 class="cta mb-6">{{ .Params.motifsConsultation.sousTitre}}</h5>
          <h2 class="h2">{{ .Params.motifsConsultation.titre}}</h2>
        </div>

        <div class="w-full lg:w-1/2 pt-4 lg:pt-12">
          <p class="intro-header mb-6">{{ .Params.motifsConsultation.intro}}</p>
          <p class="p mb-12">{{ .Params.motifsConsultation.content | markdownify }}</p>
        </div>
      </div>
    </section>


    <section class="osteopathe-pour-tous py-16 md:py-24" id="{{ (index $stickyNav 3).id }}" data-background="#FFFFFF">
      <div class="container w-full md:w-10/12">
        <div class="titre flex flex-wrap mb-16">
          <div class="w-full lg:w-1/2 pr-0 md:pr-32">
            <h5 class="cta mb-6">{{ .Params.pourqui.sousTitre}}</h5>
            <h2 class="h2">{{ .Params.pourqui.titre}}</h2>
          </div>

          <div class="w-full lg:w-1/2 pt-4 lg:pt-12">
            <p class="intro-header mb-6">{{ .Params.pourqui.intro}}</p>
          </div>
        </div>

        <div class="pour-qui flex flex-wrap">
          {{ range .Params.pourqui.public }}

          {{ if .img }}

          <div class="pour-qui-block pour-qui-block-image flex flex-wrap items-center">
            <div class="block-image w-full lg:w-1/2 pr-0 md:pr-32 mb-16">
              <figure class="relative">
                <span class="colored-circle-big absolute top-50-left-50 transform-m50-m50"></span>
                <img class="w-full" src="{{ .Site.BaseURL }}/{{ .img }}" alt="Public concerné">
              </figure>
            </div>
            <div class="block-content w-full lg:w-1/2 pr-0 md:pr-32 mb-16">
              <h3 class="h3">{{.titre}}</h3>
              <hr class="my-8 border-t-2 border-pink-700">
              <p class="p-bold text-pink-700 mb-6">{{.chapeau}}</p>
              {{.content|markdownify}}
            </div>
          </div>

          {{ else }}


          <div class="pour-qui-block pour-qui-block-text w-full lg:w-1/2 pr-0 md:pr-32 mb-16">
            <div class="block-content">
              <h3 class="h3">{{.titre}}</h3>
              <hr class="my-8 border-t-2 border-pink-700">
              <p class="p-bold text-pink-700 mb-6">{{.chapeau}}</p>
              {{.content|markdownify}}
            </div>
          </div>

          {{ end }}

          {{ end }}
        </div>
      </div>
    </section>

    {{ partial "more-pages.html" . }}

    {{ partial "magazine.html" . }}
  </article>
</main>


{{ end }}
