body.opened {
  header {
    &.scroll-down {
      transform: translateY(0);
    }
  }
}

header {
  transform: translateY(0);
  @include tran_simple(0.3s);

  &.scroll-down {
    transform: translateY(0%);
  }

  &.scroll-up {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.06);
  }

  .btn.btn-doctolib.footer-btn {
    max-width: 100% !important;
    height: 100% !important;
    display: flex !important;
  }

  .nav--mobile__header {
    height: 75px;

    .menu--toggle {
      width: 75px;
    }
  }

  .nav--mobile__reveal {
    transform: translateY(-100%);
    @apply ease pointer-events-none;

    &.opened {
      transform: translateY(0);
      @apply pointer-events-auto;
    }
  }
}

address a.p {
  font-size: 0.875em;
}

@screen md {
  header {
    &.scroll-down {
      transform: translateY(-100%);
    }
  }
}

@screen lg {
  header .btn.btn-doctolib.footer-btn {
    display: none !important;
  }
}