{{ define "meta-title" }}{{ .Title }} &ndash; {{ .Site.Title }}{{ end }}
{{ define "meta-description" }}{{ .Description }}{{ end }}

{{ define "header" }} {{ .Scratch.Set "headerClass" "bg-beige"}}{{ partial "header.html" . }} {{ end }}


{{ define "main" }}

<main class="bg-beige" data-barba="wrapper">
  <article data-barba="container">
    {{ partial "page-hero-nav.html" . }}

    <section class="magazine w-full flex items-center ">
      <div class="container">

        <div class="magazine-articles w-full py-8 mx-auto">
          <div class="-mx-4 flex flex-wrap">

            {{ range .Pages.ByDate }}

            <div class="article-card article-card--default w-1/2 lg:w-1/4 px-4 mb-12">
              <a href="{{.Permalink | safeURL}}" class="article-card__inner w-full">
                <div class="article-card__image-container">
                  <img class="article-card__image article-card__image--center w-full" alt="" style="opacity: 1;"
                    src="{{ .Site.BaseURL }}{{ .Params.heroImgUrl }}">
                </div>
                <div class="article-card__contents">
                  <h5 class="cta text-pink-700 mb-2">{{ .Params.category }}</h5>
                  <h4 class="p article-card__title w-full md:w-4/5">{{.Title}}</h4>
                </div>
              </a>
            </div>

            {{ end }}

          </div>
        </div>
      </div>
    </section>


    {{ partial "more-pages.html" . }}
  </article>
</main>


{{ end }}
