{{ define "meta-title" }}{{ .Title }} &ndash; {{ .Site.Title }}{{ end }}
{{ define "meta-description" }}{{ .Description }}{{ end }}

{{ define "header" }} {{ partial "header.html" . }} {{ end }}

{{ define "main" }}

<main class="bg-beige" data-barba="wrapper">
  <article data-barba="container">
    {{ partial "page-hero-nav.html" . }}

    <section class="bg-white">
      <div class="container flex flex-wrap py-8 md:py-16 lg:py-24">
        <div class="w-full lg:w-1/2 mx-auto post-content">
          {{ .Content }}

          <h4>
            Titre d’un paragraphe
          </h4>

          <ol>
            <li>Liste avec des numéros</li>
            <li>Liste avec des numéros</li>
            <li>Liste avec des numéros</li>
          </ol>

          <ul>
            <li>Liste avec des numéros</li>
            <li>Liste avec des numéros</li>
            <li>Liste avec des numéros</li>
          </ul>

          <blockquote>“ Ceci est un espace pour une chouette citation ou une belle phrase importante ”</blockquote>

          <img class="" src="{{ .Site.BaseURL }}/images/test/Vector-1.jpg" />

          <img class="" src="{{ .Site.BaseURL }}/images/test/Vector-2.jpg" />

          <p>Aenean amet cursus praesent id eros eleifend. <a href="">Lorem consectetur</a> sit ullamcorper massa
            condimentum malesuada lacus. Consequat, pharetra diam, arcu pellentesque netus nunc, quam consequat erat.
            Neque, feugiat pharetra etiam id quis. Maecenas accumsan orci, risus nulla. Eu ut lien vers un site externe
            id risus.
          </p>

          {{if .Params.credits.auteur}}
          <div class="credits">
            <hr>
            <p class="mb-0">{{.Params.credits.auteur}}</p>
            <a class="inline-link" target="_blank" rel="noopener noreferrer"
              href="{{.Params.credits.linkUrl}}">{{.Params.credits.linkText}}</a>
          </div>
          {{ end }}
        </div>
      </div>
    </section>

    <div class="bg-white">
      {{ partial "magazine.html" . }}
    </div>

  </article>
</main>


{{ end }}
