backend:
  name: git-gateway
  branch: master # Branch to update (optional; defaults to master)
publish_mode: editorial_workflow
media_folder: 'static/images'
public_folder: 'images'
site_url: https://emma-herve.netlify.app/
logo_url: https://emma-herve.netlify.app/images/nav-main-logo.svg
# slug:
#   encoding: 'ascii'
#   clean_accents: true
#   sanitize_replacement: '-'
collections:
  - name: 'pages'
    label: 'Pages'
    create: false # Allow users to create new documents in this collection
    files:
      - label: 'Accueil'
        name: 'accueil'
        file: 'content/_index.md'
        fields:
          - { label: Titre, name: title, widget: string }
          - { label: Description SEO, name: description, widget: string }
          - { label: Titre de la page H1, name: h1, widget: markdown }
          - label: 'Navigation'
            name: 'heroNav'
            widget: 'list'
            fields:
              - { label: "Texte de l'Ancre", name: 'text', widget: 'string' }
              - { label: "ID de l'Ancre", name: 'id', widget: 'string' }
          - label: "Section L'Ostéopathie"
            name: 'sectionOsteopathe'
            widget: 'object'
            fields:
              - { label: 'Titre H2', name: 'h2', widget: 'string' }
              - { label: 'Paragraphe', name: 'p', widget: 'markdown' }
              - label: 'Lien'
                name: 'link'
                widget: 'object'
                fields:
                  - { label: 'Texte du lien', name: 'text', widget: 'string' }
                  - { label: 'URL de la page', name: 'url', widget: 'string' }
          - label: 'Section Emma Hervé'
            name: 'sectionEmma'
            widget: 'object'
            fields:
              - { label: 'Titre H2', name: 'h2', widget: 'string' }
              - { label: 'Paragraphe', name: 'p', widget: 'markdown' }
              - label: 'Lien'
                name: 'link'
                widget: 'object'
                fields:
                  - { label: 'Texte du lien', name: 'text', widget: 'string' }
                  - { label: 'URL de la page', name: 'url', widget: 'string' }
              - label: 'Image'
                name: 'img'
                widget: 'object'
                fields:
                  - { label: 'Image', name: 'url', widget: 'image' }
                  - { label: 'ALT (texte alternatif)', name: 'alt', widget: 'string' }
          - label: 'Section Contact & Tarifs'
            name: 'sectionContact'
            widget: 'object'
            fields:
              - { label: 'Titre H2', name: 'h2', widget: 'string' }
              - { label: 'Paragraphe', name: 'p', widget: 'markdown' }
              - label: 'Lien'
                name: 'link'
                widget: 'object'
                fields:
                  - { label: 'Texte du lien', name: 'text', widget: 'string' }
                  - { label: 'URL de la page', name: 'url', widget: 'string' }
              - label: 'Image'
                name: 'img'
                widget: 'object'
                fields:
                  - { label: 'Image', name: 'url', widget: 'image' }
                  - { label: 'ALT (texte alternatif)', name: 'alt', widget: 'string' }
      - label: "L'Osthéopathie"
        name: 'lostheopathie'
        file: 'content/osteopathie/osteopathie.md'
        fields:
          - { label: Titre, name: title, widget: string }
          - { label: Chapeau Explicatif, name: chapeau, widget: string }
          - { label: Description SEO, name: description, widget: string }
          - label: 'Sticky Navigation'
            name: 'stickyNav'
            widget: 'list'
            fields:
              - { label: "Texte de l'Ancre", name: 'text', widget: 'string' }
              - { label: "ID de l'Ancre", name: 'id', widget: 'string' }
          - label: "Section En quoi consiste l'ostéopathie"
            name: 'shapePoints'
            widget: 'object'
            fields:
              - { label: 'Sous-Titre', name: 'sousTitre', widget: 'string' }
              - { label: 'Titre', name: 'titre', widget: 'string' }
              - label: 'Point'
                name: 'point'
                widget: 'list'
                fields:
                  - { label: 'Texte du lien', name: 'titre', widget: 'string' }
                  - { label: 'URL de la page', name: 'content', widget: 'markdown' }
          - label: 'Section Comment se déroule une consultation ?'
            name: 'shapePointsReverse'
            widget: 'object'
            fields:
              - { label: 'Sous-Titre', name: 'sousTitre', widget: 'string' }
              - { label: 'Titre', name: 'titre', widget: 'string' }
              - { label: 'Début consultation', name: 'tempsConsultation', widget: 'string' }
              - {
                  label: 'Partie colorée (Prix Consultation)',
                  name: 'prixConsultation',
                  widget: 'string',
                }
              - label: 'Point'
                name: 'point'
                widget: 'list'
                fields:
                  - { label: 'Texte du lien', name: 'titre', widget: 'string' }
                  - { label: 'URL de la page', name: 'content', widget: 'markdown' }
  - name: 'videos' # Used in routes, e.g., /admin/collections/blog
    label: 'Vidéos' # Used in the UI
    folder: 'content/videos' # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: '{{slug}}' # Filename template, e.g., YYYY-MM-DD-title.md
    editor:
      preview: true
    fields: # The fields for each document, usually in front matter
      - { label: Title, name: title, widget: string }
      - { label: Date, name: writtenDate, widget: string }
      - { label: Vimeo ID, name: vimeoID, widget: string, required: false }
      - { label: Youtube ID, name: youtubeID, widget: string, required: false }
      - {
          label: "Ordre d'affichage",
          name: 'weight',
          widget: 'number',
          valuetype: 'int',
          required: false,
        }
      - { label: 'Type (laisser "video")', name: 'type', widget: 'string', default: 'video' }
